In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
df = pd.read_csv('datasets/ETData - ETData.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Years of Experience  373 non-null    float64
 1   Salary               373 non-null    float64
dtypes: float64(2)
memory usage: 6.0 KB

In [13]:
def error_function(data, m, b):
    total_error = 0
    n = len(data)
    for i in range(n):
        x = data.iloc[i]['Years of Experience']
        y = data.iloc[i]['Salary']
        total_error += (y - (m * x) + b) ** 2
    return total_error

In [14]:
def descend(data, m_now, b_now, lr):
    m_gradient = 0
    b_gradient = 0
    n = len(data)
    
    for i in range(n):
        x = data.iloc[i]['Years of Experience']
        y = data.iloc[i]['Salary']
        
        m_gradient += -(2/n) * x * (y - (m_now) * x + b_now)
        b_gradient += -(2/n) * (y - (m_now) * x + b_now)
        
    m = m_now - (m_gradient * lr)
    b = b_now - (b_gradient * lr)
    return m, b

In [17]:
m = 0
b = 0
L = 0.00001
epochs = 400

for i in range(epochs):
    m, b = descend(df, m, b, L)
    if i % 50 == 0:
        print("Total error: " + str(error_function(df, m, b)))
    
print(m, b)7

Total error: nan
Total error: nan
Total error: nan
Total error: nan
Total error: nan
Total error: nan
Total error: nan
Total error: nan
nan nan